.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 60px;
}

.toolbar-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.toolbar-item {
  margin-left: 10px;
  margin-right: 10px;
}